a {
    color: #3578e5;
}

a.Branding {
    color: #0B0033;
    text-decoration: none;
}

a.Branding:hover {
    color: gainsboro;
}

a.LinkWidget {
    color: gray;
}

a.LinkWidget:hover {
    color: gainsboro;
}

a.NavButton {
    text-decoration: none;
    color: gray;
}

a.NavButton:hover {
    color: gainsboro;
}
