a {
    color: #3578e5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.Branding {
    color: #0B0033;
    text-decoration: none;
}

a.Branding:hover {
    opacity: 0.5;
}

a.LinkWidget {
    color: gray;
}

a.LinkWidget:hover {
    color: gainsboro;
}

a.NavButton {
    text-decoration: none;
    color: gray;
}

a.NavButton:hover {
    opacity: 0.5;
}

a.NavButton#Contact {
    color: white;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: #0B0033;
}

a.IndexLink {
    color: #444444;
}

a.IndexLink:hover {
    color: #3578e5;
}

a.BlogIndexLink {
    color: black;
}
